// Here you can add other styles
.usericon{
    border-radius: 25px;
    height: 77px;
}
.logo{
    text-align: center;
    margin: 20px auto;
}
.right-side{
    text-align: right;
}
.usericon1{
height: 150px;
width: 150px;
}