// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// If you want to add something do it here
@import "custom";
@import "react-redux-toastr/src/styles/index";
//@import "@fortawesome/fontawesome-free/css/all.min.css";
//@import "bootstrap-css-only/css/bootstrap.min.css";
//@import "mdbreact/dist/css/mdb.css";



.margin{
    margin-left: 280px;
}

.link{
color: white;
}
.image{
margin-top: 20px;
}
.width{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid;
    color: #768192;
    background-color: #fff;
    border-color: #d8dbe0;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.alertok{
        width: 60%;
  background-color: red;
    color: white;
}
.complaint{
width: 35%;
    height: 247px;
}

.cardht{
    height: 160px;
}

.image{
width: 50%;
    height: 180px;

}

.notify{
background-color: white;
 border-radius: 20px;
    color: #9c271c;
    border: 1.2px solid#9c271c;


}

.profile{
width:50%;

}
.cardwidth{
width:30%;
}
.palign{
text-align: justify;

}

.btlog{
margin-left: -30px;
}
.ml-2, .mx-2 {
    margin-left: 54.5rem !important;
}
.cancelclr{
    color: black;
    border-color: #b6b5bf;
    margin-left:20px;
}
.bgcolor{
background-color: #d5d5f7;

}

.error{
color: red;
}
.auth-inner {
    width: 99%;
    /* width: 450px; */
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    /* border-radius: 15px; */
    transition: all .3s;
}
.btn-green{
color: #fff;
    width: 85px;
    border-radius: 20px;
    color: #FFB236;
    border: 1.2px solid #FFB236;
    background: #fff;

}

.btn-view{
width: 85px;
    border-radius: 20px;
    color: #03A9F4;
    border: 1.2px solid#03A9F4;
    background: #fff;

}
.background-skyblue{
  background-color:#00acee ;
color:white
}
.color-skyblue{
  color:#00acee
}
.btn-edit{
width: 85px;
border: 1.2px solid #18ce0f;
    color: #18ce0f;
    background: #fff;
    border-radius: 20px;
}
.btn-orangered{
  color: white;
      background-color: orangered;
      border-color: orangered;
  
  }
  .btn-cyan{
    color: #fff;
    background-color: #0fa6cf;
    border-color: #0fa6cf;
    
  }
.floatleft{
float: left;
}
.floatright{
float: right;
}

.padright{
padding-right: 11px;
}
.form-control {
    width: 55%;

}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even){background-color: #f2f2f2;}

#students tr:hover {background-color: #ddd;}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

#widthstyle{
  width: 99%
}

.layoutcolor{
  background-color: white;
  margin: 20px;
}

.ts-3 {
  font-size:3.3125rem;}

  .p-0
  {
    padding:0px 0px 0px 0px !important;
  }

